
*{
   top: 0;    
   left: 0;
}
body {
    background: linear-gradient(rgb(252, 90, 90) , rgb(255, 161, 161),#fff, rgb(255, 161, 161), rgb(255, 23, 23));
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nmims{
    width: 100%;
    height: 500px;
}
hr{
    border: 1px solid black;
}